{% extends "layout.html" %}

{% block title %}Detail{% endblock title %}

{% block body %}

<div class="detail">
    <video width="600" src="{{ post.url }}" controls autoplay >
    Sorry, your browser does not support this video.
    </video>
</div>
<div>
    <table>
        <tr>
            <td><h2><a href= "{{ url_for('delete', post_id=post.id) }}">Delete</a></h2></td>
            <td><h2><a href= "{{ url_for('edit', post_id=post.id) }}">Edit</a></h2></td>
        </tr>
        <tr>
            <td><p class="caption">Title: {{post.title}}</td>
        </tr>
        <tr>
            <td><p class="caption">Caption: {{post.caption}}</td>
        </tr>
        <tr>
            <td><p class="caption">Published: {{post.published}}</td>
        </tr>
        <tr>
            <td><p class="caption">FileName: {{post.filename}}</td>
        </tr>
        <tr>
            <td><p class="caption">URL: {{ post.url }}</p></td>
        </tr>
    </table>
</div>
{% endblock body %}